<div class="super_container">
  <div class="home" style="height: 514px">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/about.jpg"
         data-speed="0.8">
      <img src="assets/images/contact.jpg" alt="" height="500px" width="110%">
    </div>
    <div class="home_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="home_content text-center">
              <div class="home_title"><h1>Contract</h1></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="vc_empty_space" style="height: 35px"><span class="vc_empty_space_inner"></span></div>
<div style="padding-left: 60px">
  <h2> Add new contract </h2>
  <div class="vc_empty_space" style="height: 35px"><span class="vc_empty_space_inner"></span></div>
  <div id="form">
    <form>
      <div class="col-6">
        <input type="hidden"/>
        <div class="mb-3">
          <h5 class="form-label">Start Date</h5>
          <input type="date" class="form-control" width="500">
        </div>
        <div class="mb-3">
          <h5 class="form-label">End Date</h5>
          <input type="date" class="form-control"  width="500">
        </div>
        <div class="mb-3">
          <h5 class="form-label">Deposit</h5>
          <input type="number" class="form-control"  width="500">
        </div>
        <div class="mb-3">
          <h5 class="form-label">Customer</h5>
          <select  class="form-control">
            <option>Truong Thi Huyen</option>
            <option>Le Thuan Dat</option>
            <option>Tran Kim Tuong</option>
          </select>
        </div>
        <div class="mb-3">
          <h5 class="form-label">Facility</h5>
          <select class="form-control">
            <option>Villa</option>
            <option>House</option>
            <option>Room</option>
          </select>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Save</button>

      </div>
    </form>
  </div>
</div>
</div>
<div class="vc_empty_space" style="height: 35px"><span class="vc_empty_space_inner"></span></div>
