<div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="footer_content d-flex flex-md-row flex-column align-items-center align-items-start justify-content-start">
            <div class="copyright col-6" >

              @CodeGym, 2021
              <br>
              295 Nguyen Tat Thanh Street,<br>
             Thanh Binh Ward, Hai Chau District,<br>
              Danang City, Vietnam

              7,0 km from Danang Airport

            </div>
            <div class="copyright col-6">
              Contract:<br>
              Number phone: (+84) 869940075;<br>
              Email: codegym@gmail.com.
            </div>

          </div>
        </div>
      </div>
    </div>
  </footer>
</div>


