<div class="super_container">
  <div class="home" style="height: 514px">
    <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="images/about.jpg"
         data-speed="0.8">
      <img src="assets/images/contact.jpg" alt="" height="500px" width="110%">
    </div>
    <div class="home_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="home_content text-center">
              <div class="home_title"><h1>Contract</h1></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="vc_empty_space" style="height: 35px"><span class="vc_empty_space_inner"></span></div>
  <div style="padding-left: 60px">
    <h2>Add new customers</h2>
    <div id="form">
      <form>
        <div class="col-6">
          <input type="hidden"/>
          <div class="mb-3">
            <h5 class="form-label">Name</h5>
            <input type="text" class="form-control" width="500">

          </div>
          <div class="mb-3">
            <h5 class="form-label">Birthday</h5>
            <input type="date" class="form-control" width="500">
          </div>
          <div class="mb-3">
            <h5 class="form-label">Gender</h5>
            <select class="form-control">
              <option>Male</option>
              <option>FeMale</option>
              <option>LGBT</option>
            </select>
          </div>

          <div class="mb-3">
            <h5 class="form-label">IdCard</h5>
            <input type="number" class="form-control"/>

          </div>
          <div class="mb-3">
            <h5 class="form-label">Number Phone</h5>
            <input type="number" class="form-control"/>

          </div>
          <div>
            <h5 class="form-label">Email</h5>
            <input type="text" class="form-control"/>

          </div>
          <div>
            <h5 class="form-label">Address</h5>
            <input type="text" class="form-control"/>
          </div>
          <div class="villa">
            <h5 class="form-label">Customer Type</h5>
            <select class="form-control">
              <option>Diamond</option>
              <option>Platinium</option>
              <option>Gold</option>
              <option>Silver</option>
              <option>Member</option>
            </select>
            <br>
            <button type="submit" class="btn btn-primary">Save</button>

          </div>
        </div>
      </form>
      <div class="vc_empty_space" style="height: 35px"><span class="vc_empty_space_inner"></span></div>
    </div>
  </div>
</div>
